.verification-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.verification-popup-inner {
    position: relative;
    top: 5px;
    padding: 32px 50px 32px 50px;
    width: 380px;
    height: 370px;
    background-color: white;
    border-radius: 7px;
    overflow: auto;
}

.verification-close-btn {
    float: right;
    color: #7d89dd;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-right: -10px;
    margin-top: -10px;
}

.verification-close-btn:hover {
    transform: scale(1.05);
}

.verification-popup-title {
    width: 100%;
}

.verification-popup-title > h1 {
    text-align: center;
    font-size: 25px;
}

.verification-popup-line {
    width: 380px;
    height: 1px;
    background-color: #cccccc;
}

.verification-popup-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.verification-popup-form > p {
    font-size: 18px;
    margin-left: 5px;
}

.verification-popup-form > input[type="text"] {
    width: 350px;
    border-radius: 10px;
    border: 1px solid #BCBCBC;
    font-size: 18px;
    padding: 15px 10px 15px 18px;
}

.verification-popup-btn {
    border: none;
    margin-top: 10px;
    width: 380px;
    border-radius: 10px;
    height: 50px;
    background-color: #7d89dd;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.verification-popup-btn:hover {
    background-color: #aeb6ea;
}

.verification-popup-resend {
    display: flex;
    gap: 4px;
    margin-left: 5px;
    align-items: center;
}

.verification-popup-send-again {
    color: #7d89dd;
    font-size: 17px;
    font-weight: 600;
}

.verification-popup-timer {
    font-size: 17px;
    font-weight: 600;
    color: #7d89dd;
    margin-top: 12px;
}