@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: black;
}

.rental-box {
    display: flex;
    width: 330px;
    height: 450px;
    border-radius: 22px;
    flex-direction: column;
    transition: .5s ease;
}

.rental-box:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 9px 0.5px rgb(188, 188, 188);
    z-index: 1;
    cursor: pointer;
}

.rental-box-img > img {
    width: 330px;
    height: 230px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.rental-box-info {
    display: flex;
    margin-top: -4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border: 1px solid #bebebe;
    height: 230px;
    border-top: none;
    padding: 0 20px 15px 20px;
}

.rental-box-info > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 5px;
}

.rental-box-info-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.rental-box-info-section > p {
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: -1px;
}

.rental-box-info-icon {
    height: 28px;
    width: 28px;
}