.searchbar-search-box {
    display: flex;
    box-sizing: border-box;
    width: 935px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 50px;
    font-family: 'Inter';
}

.searchbar-city,
.searchbar-district,
.searchbar-price {
    width: 121px;
    height: 67px;
    /* background-color: antiquewhite; */
    margin-right: -25px;
    margin-left: -13px;
}

.searchbar-city {
    margin-left: 20px;
    margin-right: -10px;
}

.searchbar-price-text,
.searchbar-district-text,
.searchbar-city-text {
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #4F4F4F;
    margin-left: 5px;
}

.searchbar-price-value,
.searchbar-city-value,
.searchbar-district-value {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
    border-color: white;
    margin-top: -5px;
}

.searchbar-price-value:hover,
.searchbar-city-value:hover,
.searchbar-district-value:hover{
    cursor: pointer;
}

.searchbar-straight-line1 {
    width: 67.01px;
    height: 0px;
    border: 0.5px solid #C0C0C0;
    transform: rotate(90deg);
    margin-top: 39px;
}

.searchbar-input {
    width: 335px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    border-style: hidden;
    margin-top: 20px;
    margin-left: -20px;
}

.searchbar-input:focus {
    outline: none;
}

.searchbar-btn {
    width: 89px;
    height: 44px;
    background: #7D89DD;
    border-radius: 30px;
    border-style: none;
    margin-top: 16px;
}

.searchbar-btn-text {
    width: 66px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 5px;
}

.searchbar-btn:hover {
    cursor: pointer;
}