.advertisement-main-container {
    margin-top: 65px;
    width: 100%;
    height: 595px;
    /* background-color: antiquewhite; */
    display: flex;
}

.advertisement-background-container {
    width: 650px;
    height: 550px;
}

.advertisement-background-grid {
    width: 500px;
    height: 500px;
    background: #AEB6EA;
    position: absolute;
    z-index: -1;
}

.advertisement-background-image {
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.advertisement-wrapper-text {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 130px;
    left: 120px;
}

.advertisement-text1,
.advertisement-text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 168.52%;
    /* or 104px */

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}

.advertisement-text2 {
    font-weight: 400;
    font-size: 18px;
}

.advertisement-btn {
    margin-top: 40px;
    width: 220px;
    height: 56px;
    background: #7D89DD;
    border-radius: 12px;
    border: white
}

.advertisement-sub-container {
    width: 80%;
    height: 650px;
    /* background-color: antiquewhite; */
    margin-top: 60px;
    margin-left: 150px;
}

.advertisement-sub-text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
}

.advertisement-sub-text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #313131;
}

.advertisement-box-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.advertisement-sub-box {
    background: #F0F0F0;
    box-shadow: 0px 1px 10px 1px rgb(201, 201, 201);
    width: 340px;
    height: 349px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement-box-info {
    width: 293px;
    height: 230px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.advertisement-sub-circle {
    height: 47px;
    width: 47px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertisement-box-text {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 0px;
}

.advertisement-box-sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #000000;
    margin-top: 15px;
}

.advertisement-sub-wrapper-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}