@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: black;
}

.your-ad-wrapper {
    margin-top: 100px;
}

.your-ad-results {
    width: 1300px;
    height: 100%;
    margin-left: 165px;
    font-family: 'Inter';
}

.your-ad-filter-box {
    margin-left: 35px;
}

.your-ad-listing {
    margin-top: 40px;
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 1200px;
}

