.general-details-wrapper {
    height: 680px;
}

.general-details-info {
    display: flex;
    width: 1050px;
    align-items: center;
    justify-content: space-between;
}

.general-details-title > h3 {
    font-size: 24px;
}

.general-details-title > p {
    font-size: 20px;
    line-height: 1.75;
}

.general-details-form {
    margin-top: 30px;
}

.general-details-input {
    margin-left: 40px;
    width: 700px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.general-details-input-name{
    margin-left: 40px;
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.general-details-straightline {
    width: 845px;
    height: 1px;
    background-color: #D3D3D3;
    margin-top: 25px;
    margin-bottom: 25px;
}

.general-details-btn-wrapper {
    text-align: right;
}

.general-details-btn1,
.general-details-btn2 {
    width: 109px;
    height: 45px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    border: 1px solid #BDBDBD;
}

.general-details-btn1:hover,.general-details-btn2:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.general-details-btn1 {
    color: #565656;
    background: #FFFFFF;
}

.general-details-btn2 {
    color: #FFFFFF;
    background: #7D89DD;
}

.general-details-btn2:hover {
    background-color: #aeb6ea;
    
}

.general-details-birthdate {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    gap: 15px;
}

.general-details-select-date,
.general-details-select-year,
.general-details-select-month {
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
    height: 48px;
    background-color: white;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
}

.general-details-select-date {
    width: 80px;
}

.general-details-select-year {
    width: 105px;
}

.general-details-select-month {
    width: 153px;
}

#inputID::placeholder{
    color: black;
    opacity: 1;
}