.verification-wrapper {
    height: 500px;
}

.verification-form {
    margin-top: 20px;
}

.verification-btn {
    border-radius: 12px;
    border: none;
    background-color: #7d89dd;
    font-weight: 600;
    font-size: 22px;
    padding: 20px;
    color: white;
    cursor: pointer;
}