.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.inner-popup {
    position: relative;
    top: 5px;
    padding: 32px;
    max-width: 418px;
    background-color: white;
    border-radius: 7px;
    overflow: auto;
}

.inner-popup .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.inner-popup h2 {
    text-align: center;
}

.sections {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.sections h3 {
    cursor: pointer;
    font-weight: 400;
    margin: 30px 0 15px 25px;
}

.sections h3:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid #7d89dd;
}

.login-section {
    padding-bottom: 6px;
    border-bottom: 3px solid #7d89dd;
}

.register-section {
    padding-bottom: 6px;
    border-bottom: 3px solid #7d89dd;
}

.popup-line {
    border: 0.5px solid #d0d0d0;
    margin: 0 25px 20px 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 25px;
}

input[type="text"].form-input, input[type="password"].form-input {
    display: block;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    width: 344px;
    height: 20px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.form-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 2.2;
}

.login-form-submit-div {
    margin-left: -22px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h4 {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #7d89dd;
    cursor: pointer;
}

input.login-submit-button {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #7d89dd;
    height: 52px;
    width: 370px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.no-account-register-here {
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    gap: 8px;
    align-items: center;
}

.no-account {
    font-size: 15px;
    margin-top: 0px;
}

.register-form-name-div {
    display: flex;
}

.register-name-div > input[type="text"] {
    width: 147px;
}

.register-form-birthdate {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 25px;
}

.register-form-select-date,
.register-form-select-year,
.register-form-select-month {
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}

.register-form-select-date {
    width: 80px;
}

.register-form-select-year {
    width: 105px;
}

.register-form-select-month {
    width: 153px;
}

.close-button {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    color: #7d89dd;
}

.forgot-password-wrapper {
    margin: 0 25px 0 25px;
}

.forgot-password-wrapper > h2 {
    font-size: 22px;
    font-weight: 600;
}

.forgot-password-wrapper > h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

.forgot-password-wrapper > .popup-line {
    margin: 0 0 20px 0;
}

.know-password {
    display: flex;
    margin-top: 10px;
    gap: 6px;
    justify-content: flex-start;
    margin-left: 63px;
}